@import "choices.js/public/assets/styles/choices.css";

.cm-table-description {
    max-width: 300px; /* Adjust this value as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .cm-table-description {
        max-width: 150px; /* Smaller width on mobile */
    }
}

.label-required::after {
    content: "*";
    color: red;
}
